<h1>Hi, <%= session[:name] %>.</h1>
<%#= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>

<h2>Link to the secret page here!!!</h2>

<h2><%=link_to "See the secret doc", secretpage_path %></h2>

<%= form_tag logout_action_path do %>
  <input type=submit value='logout'>
<% end %>